<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">
  <p><%= "#{@pin.text}" %></p>
  <p>
    This pin has been pinned by
    <% @users.each do |user| %>
      <%= link_to user.first_name.capitalize, user_path(user), target: "_blank" %>
    <% end %>
  </p>
  <hr/>
  <img src="<%= @pin.image.url(:medium) %>">
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <a class="url" href="<%= "#{@pin.url}" %>" target="_blank">
      <%= "#{@pin.url}" %>
    </a>
  </p>
  <%= link_to repin_path(@pin), class: "btn btn-default", method: "post" do %>
    <i class="fa fa-thumb-tack"></i>
    Repin!
  <% end %>
</div>
<br/>
<a href="/">
  <i class="fa fa-arrow-circle-left"></i>
  Back to Home
</a>
